{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aiqi - Risk Notification System for Asthma and Allergy Sufferers</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/landing-page.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/animatescroll.min.js" %}"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='' onclick="$('body').animatescroll(); return false;"><img class="logo img-responsive" src="{% static "img/logo.png" %}" alt=""></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href='' onclick="$('.content-problem-statement').animatescroll(); return false;" class="nav-text">The Problem</a>
                    </li>
                    <li>
                        <a href='' onclick="$('.content-features').animatescroll(); return false;" class="nav-text">How Aiqi Works</a>
                    </li>
                    <li>
                        <a href='' onclick="$('.about-us').animatescroll(); return false;" class="nav-text">About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <div class="intro-header">
        <div class="container intro-message">

            <div class="row intro-message">
                <div class="col-lg-12 intro-message">
                    <div class="intro-message">

                        <h1>Peace of Mind in Knowing</h1>
                        <h3>A Risk Notification System to keep Asthma and Allergies Under Control</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <a href='' onclick="$('.banner .cta').animatescroll(); return false;" class="btn btn-default btn-lg cta">Register Your Interest!</a>
                            <!-- <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li> -->
                        </ul>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <!-- Content - Problem -->
    <a name="problem"></a>
    <div class="content-problem-statement">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <!-- <hr class="section-heading-spacer"> -->
                    <!-- <div class="clearfix"></div> -->
                    <h2 class="section-heading">One in Five Australians suffer from Asthma and Allergies</h2>
                    <div class="problem-statistic">
                        <i class="fa fa-male fa-5x"></i>
                        <i class="fa fa-male fa-5x"></i>
                        <i class="fa fa-male fa-5x fa-main"></i>
                        <i class="fa fa-male fa-5x"></i>
                        <i class="fa fa-male fa-5x"></i>
                    </div>
                    <p class="lead problem">Allergic diseases like asthma, excema and hayfever are incurable, chronic diseases. </p>
                    <p class="lead problem">There are over <b><font size="5.5" color="orange"> 100,000 </font></b> hospital admissions each year due to these illnesses. </p>
                    <p class="lead problem">They prey on the most vulnerable in our society:<b><font size="5.5" color="orange"> young children and the elderly.</font></b></p>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>

    <div class="content-problem">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <!-- Content - Prevention -->
    <div class="content-prevention-statement">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 prevention">
                    <!-- <hr class="section-heading-spacer"> -->
                    <!-- <div class="clearfix"></div> -->
                    <h2 class="section-heading">Prevention is Better than Cure</h2>
                    <p class="lead prevention">The worst can be prevented if we: </p>
                    <div class="col-lg-4 prevention-method">
                        <i class="fa fa-heartbeat fa-5x fa-align-center"></i>
                        <p class="lead prevention">1. Know the likelihood of an attack happening</p>
                    </div>
                    <div class="col-lg-4 prevention-method">
                        <i class="fa fa-connectdevelop fa-5x fa-align-center"></i>
                        <p class="lead prevention">2. Understand the triggers that affect us</p>
                    </div>
                    <div class="col-lg-4 prevention-method">
                        <i class="fa fa-file-text-o fa-5x fa-align-center"></i>
                        <p class="lead prevention">3. Respond with an effective action plan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-prevention">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <!-- Feature -->
    <a name="solution"></a>
    <div class="content-features">
        <div class="container">
            <div id="carousel-example-generic" class="carousel" data-ride="carousel" >
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
         
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-lg-7">
                                <!-- <hr class="section-heading-spacer"> -->
                                <div class="clearfix"></div>
                                <h2 class="section-heading">Alerts on a Need-To-Know Basis</h2>
                                <p class="lead">We'll only tell you when things get bad. We report on common environmental triggers like high pollen index and extreme weather conditions</p>
                            </div>
                            <div class="col-lg-5">
                                <img src="{% static "img/mockup.png" %}" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-7">
                                <!-- <hr class="section-heading-spacer"> -->
                                <div class="clearfix"></div>
                                <h2 class="section-heading">Log Your Symptoms. </br> Map Your Journey.</h2>
                                <p class="lead">We'll ask you questions and overtime we'll turn your answers into actionable insights to help you understand what things affect you the most.</p>
                            </div>
                            <div class="col-lg-5">
                                <img src="{% static "img/mockup.png" %}" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-7">
                                <!-- <hr class="section-heading-spacer"> -->
                                <div class="clearfix"></div>
                                <h2 class="section-heading">Understand Your Body</h2>
                                <p class="lead">Overtime our learning algorithms will find out what triggers affect you. The more Aiqi learns about you the better and more accurate your insights become.</p>
                            </div>
                            <div class="col-lg-5">
                                <img src="{% static "img/mockup.png" %}" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
         
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-menu-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-menu-right"></span>
                </a>
            </div> <!-- Carousel -->
        </div>
    </div>

    <!-- REGISTER YOUR INTEREST -->

	<a  name="register"></a>
    <div class="banner cta">

        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h2>Want Exclusive Early Access?</h2>
                    <h3>Take our expression of interest form, tell us what you want Aiqi to do and you'll be added to our shortlist.</h3>
                </div>
                <div class="col-lg-4 col-sm-12 cta-section">
                    <a href="#register" class="btn btn-default btn-lg cta">Register Your Interest!</a>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!--- ABOUT US -->
    <a name="about"></a>
    <div class="about-us">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">About Us</h2>
                <p class="lead">Aiqi, pronounced "aye chee", is the brain child of Christopher Nheu, a young, tech-entrepreneur based in Sydney, Australia. He's devoted to building technology that solves real problems for people. As an asthma and allergy sufferer himself he wants to connect and help sufferers everywhere to better manage their illnesses. Contact him at tofa.nheu@gmail.com</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href='' onclick="$('body').animatescroll(); return false;" >Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href='' onclick="$('.content-problem-statement').animatescroll(); return false;" >The Problem</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href='' onclick="$('.content-features').animatescroll(); return false;" >How Aiqi Works</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About Us</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Aiqi Pty. Ltd. 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        //console.log($('#menu'));

        /*
         * Open the drawer when the menu icon is clicked.
         */

        $(document).ready(function() {
            //Scroll Animation
            // Typical jQuery wildcard is $('a[href*=#]') but using the ^, makes it a prefix only catch.
            // .not stops it from selecting singular # references.
            $('a[href^=#]').not('[href="#"]').on("click", function(e) {
                
                // The callback function maps the current element to $(this) 
                var anchor = $(this)

                anchor.log()
                // query the body, stops any animations running on it, then animate it.
                // animate() takes the css attribute scrollTop, and finds the y-value of the top of the next panel using the anchor's href, which is "#idNextPanel".
                $('body').stop().animate({
                    // scrollTop: $(anchor.attr('href')).offset().top 
                    scrollTop: anchor.offset().top
                    }, "slow");
                e.preventDefault();
            });
        });

    </script>
    <script>
        $('.carousel').carousel({
            interval: 10000
        })
    </script>

</body>

</html>
